<div class="row">
  <div class="col-md-12">
    <img
      src="{{ movie.imagePath }}"
      alt=""
      class="img-responsive"
      style="max-height: 200px;"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>{{ movie.title }}</h2>
  </div>
</div>
<div class="row" *ngIf="authService.isAuthenticated()">
  <div class="col-md-12">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage Movie
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="onEditMovie()" style="cursor:pointer;"
          >Edit Movie</a
        >
        <a
          class="dropdown-item"
          (click)="onDeleteMovie()"
          style="cursor:pointer;"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">{{ movie.description }}</div>
</div>
<div class="row"><div class="col-md-12">Date of launch</div></div>
