<div class="row mb-3">
  <div class="col-md-12">
    <div class="imageFullContainer">
      <img src="{{ movie.imagePath }}" alt="" class="img-responsive" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>{{ movie.title }}</h2>
  </div>
</div>
<div class="row" *ngIf="authService.isAuthenticated()">
  <div class="col-md-12">
    <button type="button" class="btn btn-success ml-2" (click)="onEditMovie()">
      Edit Movie
    </button>
    <button type="button" class="btn btn-danger ml-2" (click)="onDeleteMovie()">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">{{ movie.description }}</div>
</div>
