<div class="row justify-content-md-center mt-5">
  <div class="col-xs-10 col-sm-10 col-lg-6">
    <h2 class="text-center">Register</h2>
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control"
          placeholder="Password"
        />
        <small id="titleHelp" class="form-text text-muted">
          * Min 6 characters.</small
        >
      </div>
      <button
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        [disabled]="!f.valid"
      >
        Register
      </button>
    </form>
  </div>
</div>
