<div class="row" *ngIf="authService.isAuthenticated()">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewMovie()">New Movie</button>
    <button class="btn btn-success ml-4" (click)="onSaveMovies()">
      Save Movies
    </button>
    <button class="btn btn-success ml-4" (click)="onLoadMovies()">
      Load Movies
    </button>
  </div>
</div>
<hr *ngIf="authService.isAuthenticated()" />
<div class="row">
  <div class="col-12">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          *ngFor="let movieSingle of movies; let i = index"
          data-slide-to="0"
        ></li>
      </ol>
      <div class="carousel-inner">
        <app-movie-item
          *ngFor="let movieSingle of movies; let i = index"
          [movie]="movieSingle"
          [index]="i"
        ></app-movie-item>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
