<div class="row" *ngIf="authService.isAuthenticated()">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewMovie()">New Movie</button>
    <button class="btn btn-success ml-4" (click)="onSaveMovies()">
      Save Movies
    </button>
  </div>
</div>
<hr *ngIf="authService.isAuthenticated()" />
<div class="row">
  <div class="col-md-12">
    <app-movie-item
      *ngFor="let movieSingle of movies; let i = index"
      [movie]="movieSingle"
      [index]="i"
    ></app-movie-item>
  </div>
</div>
